.forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.forecast-day {
  text-align: center;
}
.forecast h2 {
  font-size: 18px;
}

.forecast .tempMin {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding-right: 5px;
}
.forecast .tempMax {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  padding-left: 5px;
  color: rgba(2, 2, 2, 0.4);
}
