.weather {
  border: 1px solid #ccc;
  border-radius: 15px;
  font-family: Arial, sans-serif;
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}
.search-form {
  display: flex;
  justify-content: center;
}

.weather h1 {
  font-size: 24px;
  margin: 10px 0 0;
}
.weather ul {
  padding: 0;
  margin: 10px 0;
}

.weather .img {
  width: 64px;
  margin-top: 5px;
  margin-right: 10px;
  vertical-align: middle;
}
.weather .temperature {
  font-size: 55px;
  font-weight: 200px;
  line-height: 68px;
}
.weather .unit {
  font-size: 18px;
  vertical-align: top;
  line-height: 40px;
}

.btnUnit {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
}

.weather a {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

.weather li {
  list-style-type: none;
  font-size: 14px;
  text-align: left;
}
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
